.advantages {
  margin: 0;
  padding-bottom: 53px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.advantages__wrapper {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__list {
  list-style-type: none;
  position: relative;
  margin: 0;
}

.advantages__text {
  margin: 0;
  margin-left: 40px;
}

.advantages__text--healthy::before {
  .block;
  position: absolute;
  background-image: url("../img/icons/healthy.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: -3px;
  left: 0;
}

.advantages__item:not(:last-child) {
  margin-bottom: 26px;
}

.advantages__text--cooking::before {
  .block;
  position: absolute;
  background-image: url("../img/icons/cooking.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: 77px;
  left: 0;
}

.advantages__text--cutlery::before {
  .block;
  position: absolute;
  background-image: url("../img/icons/cutlery.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: 158px;
  left: 0;
}

.advantages__text--watch::before {
  .block;
  position: absolute;
  background-image: url("../img/icons/watch.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  bottom: -3px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-top: 45px;
    padding-bottom: 47px;
    margin-right: 109px;
  }

  .advantages__wrapper {
    min-width: 768px;
    padding: 0 30px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .advantages__item {
    padding-top: 151px;
    padding-bottom: 57px;
    max-width: 249px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 71px;
    padding-bottom: 26px;
  }

  .advantages__wrapper {
    min-width: 1440px;
    padding: 0 110px;
  }
}
