.page-header {
  position: relative;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.page-header__wrap {
  padding-top: 10px;
  padding-bottom: 17px;
}

.page-header__logo-text {
  margin-left: 56px;
}

@media (min-width: @tablet-width) {
  .page-header__wrap {
    .reset;
    padding-top: 24px;
    min-width: 174px;
  }

  .page-header__logo-text {
    margin-left: 12px;
    padding-bottom: 7px;
  }
}


@media (min-width: @desktop-width) {
  .page-header__wrap {
    .reset;
    padding-top: 53px;
    min-width: 610px;
  }

  .page-header__logo-text {
    margin-left: 14px;
  }
}

.page-header__logo {
  .block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  position: absolute;
  top: 31px;
  left: 265px;
  display: block;
  width: 24px;
  height: 8px;
  border: none;
  background-color: #ffffff;
  border-top: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  border-top: 1.5px solid #000000;
}

.page-header__wrapper {
  display: none;
  min-width: 320px;
  margin-top: 18px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    min-width: 440px;
    display: flex;
    margin-top: 42px;
    padding-bottom: 10px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    min-width: 610px;
    display: flex;
    margin-top: 69px;
    padding-bottom: 42px;
  }
}
