.advantages {
  padding: 0 20px;
  margin: 0;
  padding-bottom: 53px;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__list {
  list-style-type: none;
  position: relative;
  margin: 0;
}

.advantages__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-left: 40px;
}

.healthy::before {
  position: absolute;
  display: block;
  background-image: url("../../img/icons/healthy.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: -3px;
  left: 0;
}

.advantages__item:not(:last-child) {
  margin-bottom: 26px;
}

.cooking::before {
  position: absolute;
  display: block;
  background-image: url("../../img/icons/cooking.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: 77px;
  left: 0;
}

.cutlery::before {
  position: absolute;
  display: block;
  background-image: url("../../img/icons/cutlery.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  top: 158px;
  left: 0;
}

.watch::before {
  position: absolute;
  display: block;
  background-image: url("../../img/icons/watch.svg");
  background-repeat: no-repeat;
  content: "";
  width: 60px;
  height: 60px;
  bottom: -3px;
  left: 0;
}
