.aside {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 25px;
  margin: 0;
  background-color: #eaeaea;
}

.aside__title {
  .oswald;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.aside__desc {
  margin: 0;
  margin-bottom: 20px;
}

.aside__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.aside__advantages-heft {
  .oswald;
  .block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  display: block;
  margin-bottom: 10px;
}

.aside__advantages-text {
  display: block;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 77px;
  padding: 0 5px;
  margin-bottom: -12px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eaeaea;
}

.aside__item {
  width: 124px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding-top: 14px;
  display: block;
}

.aside__text {
  .oswald;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 34px;
  margin-bottom: 40px;
  display: block;
}
